.header__lists{
    display: flex;
    align-items: center;
    list-style-type: none;
}

.header__lists a{
    margin: 0 10px;
}

.head_content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.head_content a{
    display:inline-block;
    padding:10px;
}